h1 {
  margin-bottom: 40px;
}

button {
  margin: 5px;
}

img {
  width: 250px;
}

.giphy {
  border: solid black 2px;
}

.gameplay {
  width: 280px;;
  border: solid black 1px;
  padding: 10px;
  margin: 15px;
}

p {
  margin: 5px;
}

.progress {
  margin-top: 3px;
}

.main-row {
  margin-bottom: 10px;
}

.buttons button {
  width: 65px;
}

.column {
  padding: 3px;
  width: 260px;
}
