#settings {
  margin-left: 5px;
  display: none;
  font-size: 10pt;
  border: solid lightgrey 1px;
  width: 305px;
  padding: 10px;
  background-color: #f2f2f2;
}

#settings input {
  height: 20px;
}

#settings label {
  margin-left: 10px;
}

#settings p {
  margin-left: 0px;
}

#settings-btn {
  /*margin-left: 170px;*/
}

h1 {
  margin-bottom: 10px;
}

button {
  margin: 5px;
}

.icon {
  width: 20px;
  margin-bottom: 10px;
}

img {
  width: 250px;
}

.giphy {
  border: solid black 2px;
}

.gameplay {
  width: 280px;;
  border: solid black 1px;
  padding: 10px;
  margin: 15px;
}

p {
  margin: 5px;
}

.progress {
  margin-top: 3px;
}

.main-row {
  margin-bottom: 10px;
}

.buttons button {
  width: 65px;
}

.column {
  padding: 3px;
  width: 260px;
}
